body {
  background-color: white;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Teko', sans-serif;
}

hr {
  background-color: none;
  border-style: none;
  border-top: solid;
  border-color: #F1F1F1;
  height: 0px;
  border-width: 3px;
  width: 60%;
  position: relative;
}

.Color-Cov {
  color: red;
}

.Color-Aid {
  color: blue;
}

.titleContainer {
  position: fixed;
  background-color: #0F033B;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.titleCon {
  color: #F1F1F1;
}

.attributes {
  font-size: 75%px;
  font-family: 'Comfortaa', cursive;
  color: #F1F1F1;
  list-style-position: inside;
  margin: 20px;
}

#Title_ofWeb {
  font-size: 350%;
  position: relative;
  color: #F1F1F1;
  text-align: center;
}

#description_title {
  position: relative;
  font-family: "Comfortaa", cursive;
  font-size: 125%;
  top: -55px;
  text-align: center;
}

#Title_hr {
  position: relative;
  top: -55px;
  color: #F1F1F1;
}

#logo1 {
  position: relative;
  top: -310px;
  right: -690px;
  height: 100%;
  width: 100%;
}
